<h1>Animals List</h1>

<% @animals.each do |animal| %>
	<li><%= animal.name %> | <%= link_to 'Show', animal_path(animal) %></li>
<% end %> 

<p>
	<%= link_to 'Create New Animal', new_animal_path %>
</p>	